---
import Link from "@/components/Link.astro";
---

<footer class="mt-auto border-t border-white/10 py-6">
  <div
    class="mx-auto flex max-w-4xl flex-col space-y-3 px-4 text-sm text-neutral-500 md:flex-row md:items-center md:justify-between md:space-y-0"
  >
    <div>
      © 2026
      <Link
        href="https://papuaopensource.github.io"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-neutral-200 transition-colors"
      >
        Papua Open Source
      </Link>
    </div>
    <div class="flex items-center space-x-5">
      <Link
        href="/rss.xml"
        class="inline-flex items-center gap-x-2 hover:text-neutral-200 transition-colors"
      >
        rss feed
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/>
        </svg>
      </Link>
      <Link
        href="https://app.formbricks.com/s/clzwui3i00000igj00vcvgg0n"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center gap-x-2 hover:text-neutral-200 transition-colors"
      >
        berikan feedback
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          width="14" height="14"
          viewBox="0 0 24 24">
           <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 3h6v6m-11 5L21 3m-3 10v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/>
        </svg>        
      </Link>
    </div>
  </div>
</footer>
