---
import Link from "@/components/Link.astro";
---

<footer class="mt-auto border-t py-6">
  <div
    class="mx-auto flex flex-col max-w-4xl space-y-3 px-4 text-sm text-gray-500 md:flex-row md:space-y-0 md:items-center md:justify-between dark:text-gray-400"
  >
    <div>
      © 2025
      <Link
        href="https://papuaopensource.github.io"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gray-900 dark:hover:text-gray-50"
      >
        Papua Open Source
      </Link>
    </div>
    <div class="flex items-center space-x-3">
      <Link
        href="https://app.formbricks.com/s/clzwui3i00000igj00vcvgg0n"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gray-900 dark:hover:text-gray-50"
      >
        feedback
      </Link>
      <span class="text-gray-400">&bull;</span>
      <Link
        href="https://mops.betteruptime.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gray-900 dark:hover:text-gray-50"
      >
        status
      </Link>
      <span class="text-gray-400">&bull;</span>
      <Link
        href="https://github.com/papuaopensource/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gray-900 dark:hover:text-gray-50"
      >
        github
      </Link>
    </div>
  </div>
</footer>
