---
import Link from "@/components/Link.astro";
import ThemeSelector from "@/components/ThemeSelector.astro";

const pathname = Astro.url.pathname;

// Function to check if a path is active
const isActive = (path: string) => {
  if (path === "/") {
    return pathname === "/";
  }
  return pathname.startsWith(path);
};
---

<header class="border-b">
  <div class="mx-auto flex max-w-4xl items-center justify-between px-4 py-4">
    <Link href="/" class="text-xl font-bold"> mops </Link>
    <div class="flex items-center space-x-6">
      <nav class="flex space-x-6">
        <Link
          href="/"
          class={`relative py-1 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50 ${
            isActive("/") && pathname === "/"
              ? "font-medium text-gray-900 dark:text-gray-50"
              : ""
          }`}
        >
          teras
          {
            isActive("/") && pathname === "/" && (
              <span class="absolute bottom-0 left-0 h-0.5 w-full bg-gray-900 dark:bg-gray-50" />
            )
          }
        </Link>
        <Link
          href="/cerita/"
          class={`relative py-1 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50 ${
            isActive("/cerita/")
              ? "font-medium text-gray-900 dark:text-gray-50"
              : ""
          }`}
        >
          cerita
          {
            isActive("/cerita/") && (
              <span class="absolute bottom-0 left-0 h-0.5 w-full bg-gray-900 dark:bg-gray-50" />
            )
          }
        </Link>
        <Link
          href="/tentang/"
          class={`relative py-1 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50 ${
            isActive("/tentang/")
              ? "font-medium text-gray-900 dark:text-gray-50"
              : ""
          }`}
        >
          tentang
          {
            isActive("/tentang/") && (
              <span class="absolute bottom-0 left-0 h-0.5 w-full bg-gray-900 dark:bg-gray-50" />
            )
          }
        </Link>
      </nav>
      <!-- <ThemeSelector /> -->
    </div>
  </div>
</header>
